:root {
    --scoreBgColor: rgba(0, 0, 207, .7);
    --themePrimary: rgb(0, 183, 255);
}

@mixin midSectionWide {
    width: 90vw;
    max-width: 600px;
}

.pageHeader {
    text-align: center;
    margin-top: 15px;
    animation: zigzag 3s linear 0s infinite;
}
@keyframes zigzag {
    0% { transform: rotateY(0deg);}
    50% { transform: rotateY(180deg);}
    100% { transform: rotateY(0deg);}
}
.scores {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 25px auto;
    width: 90vw;
    max-width: 600px;
}

.scoreUnit {
    text-align: center;
    font-weight: bold;
    .scoreUnitName {
        // border-bottom: 1px solid #000;
        padding: 3px 9px;
        background: var(--scoreBgColor);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        color: #fff;
    }
    .scoreUnitVal {
        padding: 3px;
        border: 2px solid var(--scoreBgColor);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

.boxContainer {
    position: relative;
    margin: 25px auto;
    // width: 90vw;
    // max-width: 600px;
    @include midSectionWide();
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
    border: 12px solid rgba(0, 162, 252, .6);
    .box {
        border: 1px solid #000;
        height: calc( (90vw - 5px) / 4);
        max-height: 150px;

        .boxInner {
            width: 100%;
            height: 100%;
            position: relative;
            transition: transform 1s;
            transform-style: preserve-3d;
        }
    }
}

.cardFace {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.cardFaceFront {
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    // font-size: 20px;
    // .fftxt {
        // transform: rotate(-20deg);
        // font-size: 40px;
        // font-weight: bold;
        // color: rgba(9, 108, 252, 0.6);
    // }
    img {
        width: 100%;
        height: 100%;
    }
}
.box:nth-child(2n) .cardFaceFront {
    background: lightskyblue;
}

.cardFaceBack {
    background: skyblue;
    transform: rotateY( 180deg );
    .gameImg {
        width: 100%;
        height: 100%;
    }
}

.isFlipped {
    transform: rotateY(180deg);
}

.startPage {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(135, 206, 250, 0.7);
    z-index: 9999;
    .inner {
        @include midSectionWide();
        border: 10px double var(--scoreBgColor);
        background: var(--themePrimary);
        max-height: 90vh;
        margin: 20px auto;
        border-radius: 9px;
        padding: 20px 25px;
        text-align: center;
        h1 {
            border-bottom: 3px dotted var(--scoreBgColor);
            padding-bottom: 10px;
        }
        h1 span {
            display: inline-block;
            padding: 0 5px;
        }
        .flipped {
            animation: flipflap 5s linear 0s infinite;
        }
        .flapped {
            animation: flipflap 5s linear 2.5s infinite;
        }
        .instruction {
            width: 230px;
            background: yellow;
            padding: 15px;
            margin: 15px auto;
            border-radius: 30px;
        }
        .imgContainer {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .instructorImg {
            height: 150px;
        }
        .startGame {
            font-size: 50px;
            height: 66px;
            width: 66px;
            border-radius: 50%;
            background: yellow;

        }
    }
}
@keyframes flipflap {
    0% { transform: rotateY(0deg);}
    20% { transform: rotateY(180deg);}
    50% { transform: rotateY(180deg);}
    75% { transform: rotateY(0deg);}
    100% { transform: rotateY(0deg);}
}